* {
  margin: 0;
  padding: 0;
}
.navigation {
  margin-top: 10px;
  font-family: var(--font1);
  height: 74px;
  /* background-color: rgb(0, 217, 241); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  font-size: 30px;
  display: flex;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.nav-left ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.content {
  display: flex;
  height: 395px;
  /* background-color: rgb(123, 123, 224); */
  margin-top: 32px;
  padding: 5px;
}
.content-left {
  font-family: var(--font1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}
.home-articles {
  /* height: 455px; */
  padding-top: 12px;
  /* background-color: rgb(232, 169, 169); */
}
.home-article {
  display: flex;
  margin: 25px;
}
.home-article img {
  width: 300px;
}
.home-article-content {
  align-self: center;
  padding: 25px;
}
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
